html {
	cursor: none;
}
a {
	cursor: none;
}
button {
	cursor: none;
}

input {
	@apply bg-tan rounded p-1 border-b border-salomon;
}

html {
	font-size: 20px;
}

body {
	@apply font-sans font-bold bg-white;
}
